@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.container {
  padding: 40px;
  background: #419be0;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

.bg-blurred-image {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
